# Relecture demandée automatiquement sur la configuration du build et de la CI.
/pom.xml            @tristanhp @lkgbaguidi @J-Louis77 @IASWasTaken @elouannicolaux
/.github/           @tristanhp @lkgbaguidi @J-Louis77 @IASWasTaken @elouannicolaux
/config/            @tristanhp @lkgbaguidi @J-Louis77 @IASWasTaken @elouannicolaux
